<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.noshufou.android.su.elite" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="com.yellowes.su" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.kingroot.kinguser" />
        <package android:name="com.kingo.root" />
        <package android:name="com.smedialink.oneclickroot" />
        <package android:name="com.zhiqupk.root.global" />
        <package android:name="com.alephzain.framaroot" />
        <package android:name="com.koushikdutta.rommanager" />
        <package android:name="com.koushikdutta.rommanager.license" />
        <package android:name="com.dimonvideo.luckypatcher" />
        <package android:name="com.chelpus.lackypatch" />
        <package android:name="com.ramdroid.appquarantine" />
        <package android:name="com.ramdroid.appquarantinepro" />
        <package android:name="com.android.vending.billing.InAppBillingService.COIN" />
        <package android:name="com.android.vending.billing.InAppBillingService.LUCK" />
        <package android:name="com.chelpus.luckypatcher" />
        <package android:name="com.blackmartalpha" />
        <package android:name="org.blackmart.market" />
        <package android:name="com.allinone.free" />
        <package android:name="com.repodroid.app" />
        <package android:name="org.creeplays.hack" />
        <package android:name="com.baseappfull.fwd" />
        <package android:name="com.zmapp" />
        <package android:name="com.dv.marketmod.installer" />
        <package android:name="org.mobilism.android" />
        <package android:name="com.android.wp.net.log" />
        <package android:name="com.android.camera.update" />
        <package android:name="cc.madkite.freedom" />
        <package android:name="com.solohsu.android.edxp.manager" />
        <package android:name="org.meowcat.edxposed.manager" />
        <package android:name="com.xmodgame" />
        <package android:name="com.cih.game_cih" />
        <package android:name="com.charles.lpoqasert" />
        <package android:name="catch_.me_.if_.you_.can_" />
        <package android:name="gb.artfilter.tenvarnist" />
        <package android:name="de.nineergysh.quickarttwo" />
        <package android:name="gb.painnt.moonlightingnine" />
        <package android:name="gb.twentynine.redaktoridea" />
        <package android:name="de.photoground.twentysixshot" />
        <package android:name="de.xnano.photoexifeditornine" />
        <package android:name="de.hitopgop.sixtyeightgx" />
        <package android:name="de.sixtyonecollice.cameraroll" />
        <package android:name="de.instgang.fiftyggfife" />
        <package android:name="de.fiftyninecamera.rollredactor" />
        <package android:name="gb.crazykey.sevenboard" />
        <package android:name="com.neonthemekeyboard.app" />
        <package android:name="com.androidneonkeyboard.app" />
        <package android:name="com.cachecleanereasytool.app" />
        <package android:name="com.fancyanimatedbattery.app" />
        <package android:name="com.fastcleanercashecleaner.app" />
        <package android:name="com.rockskinthemes.app" />
        <package android:name="com.funnycallercustomtheme.app" />
        <package android:name="com.callercallwallpaper.app" />
        <package android:name="com.mycallcustomcallscrean.app" />
        <package android:name="com.mycallcallpersonalization.app" />
        <package android:name="com.caller.theme.slow" />
        <package android:name="com.callertheme.firstref" />
        <package android:name="com.funnywallpapaerslive.app" />
        <package android:name="de.andromo.ssfiftylivesixcc" />
        <package android:name="com.newscrean4dwallpapers.app" />
        <package android:name="de.stockeighty.onewallpapers" />
        <package android:name="com.notesreminderslists.app" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
